body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 0 15px #ccc;
    padding: 16px;
}

.wrapper p {
    text-indent: 1.5em;
}

hr {
    width: 10%;
}

.block1 {
    width: 100%;
    height: 150px;
    background: lime;
}


.folder {
    width: 150px;
    height: 150px;
}

.sqr {
    width: 50px;
    height: 50px;
    background: orange;
    margin: 2px;
    display: inline-block;
    transition: all .25s ease;
}

.slider4 {
    width: 100%;
    height: 250px;
    background: #ccc;
    box-shadow: 0 0 5px #ddd;
}

.sm-img-block {
    font-size: 0;
    margin: 8px 0;
}

.sm-img {
    width: 20%;
}

.sqr5 {
    width: 50px;
    height: 50px;
    background: lightgreen;
    margin: 2px;
    display: inline-block;
    transition: all .25s ease;
    line-height: 50px;
    text-align: center;
}

.trigger {
    width: 300px;
    padding: 5px;
    background: darkviolet;
    transition: all .25s ease;
}

.sqr6 {
    width: 100px;
    height: 100px;
    background: pink;
    /*margin-left: 200px;*/
    transition: all .25s ease;
}